.home {
  padding-top: 20px;

  .hero-title {
    .Typewriter__wrapper {
      color: salmon;
    }

    .caption {
      padding-top: 20px;
    }

    .btn-hero,
    .btn-hero-2 {
      padding: 5px 10px 5px 10px;
      background: #fff;
    }
  }
}
